  @media screen and (max-width: 400px) {
  	.intro {
  		margin-left: 10px;
  		text-align: left;
  	}
  	.intro h3 {
  		margin-left: 15px;
  	}
  	#title {
  		border-bottom: solid 0px;
  	}
  	#downloadButton{
  		margin-left: 20%;
  	}
  	footer {
  		left:15%;
  	}
}