<ion-view  title="Quizzy" ng-init="startApp()">
     <ion-nav-bar class="bar-stable bar-royal">
         <ion-nav-buttons side="left">
        <button class="button button-clear button-outline no-animation" ng-click="goto()">
            Skip Tutorial
          </button>
        </ion-nav-buttons>
         <ion-nav-buttons side="right">
          <button class="button button-clear button-outline no-animation" ng-click="goto()">
             Go to App
          </button>

        </ion-nav-buttons>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>



        <ion-slide-box class="introslide" on-slide-changed="slideChanged(index)">
          <ion-slide>
              <div style="padding-top:20%;">
              <img style="height:100px; width:100px"ng-src="img/q.png">
            <p style="padding:30px">vocab sheets suck—turn vocab sheets into a quizlet set with a simple picture</p>
            </div>
          </ion-slide>
          <ion-slide>
              <div style="padding-top:20%;">
            <h3 style= "color:white; font-weight:200">Take Photos</h3>
            <p>take a photo of the vocab sheet (try to make it a straight, clean photo)</p>
            </div>
          </ion-slide>

          <ion-slide>
              <div style="padding-top:20%;">
           <h3 style= "color:white; font-weight:300">Why Quizzy?</h3>
                  <p>We save you time; spend your time actually studying instead of creating study sets</p>
              </div>
              </ion-slide>
          <ion-slide>
        </ion-slide-box>
      </ion-view>
